body
{
  background-color: #f1f1f1;
}

#container
{
    margin-left: 30px;
}

header{
    /* Enable flex mode. */
    display: flex;

    /* Spread out the elements inside the header. */
    justify-content: space-between;

    /* Align items vertically in the center. */
    align-items: center;
}

h1{
    color: black;
    font-size: 40px;
}

.table-hover 
{
    height: 480px;
    width: 1500px;
    background-color: aliceblue;
    font-size: 200%;
    padding: 50px 30px 50px 70px;
    border: 2px  black;
}

img {
    margin-right: 50px;
    height: 260px;
    width: 280px;
}

h2{
    color: white;
    margin-right: 100px;
    margin-top: 20px;
    font-size: 40px;
}

h3{
    color: black;
    margin-left: 200px;
    margin-top: 20px;
    font-size: 30px;
    align-content: center;
}

table, th , td  {
    margin-left: 5px;
    border: 1px solid grey;
    border-collapse: collapse;
    padding: 5px;
    font-size: 25px;
}

th {
    background-color: #438aca;
    color: white;
}

table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
table tr:nth-child(even) {
    background-color: #ffffff;
}

#wrapper {
    font: 20px Calibri;
    width: 100px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    align-content: center;
}

tr, td {
    border: none;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

h5{
    color: black;
    margin-left: 450px;
    margin-top: 20px;
    font-size: 30px;
}

table.table2 td{
    color: red;
}