<!--Author: Edem Dumenu
Creation: 03-12-2017
Development Team: Edem Dumenu, Luke Clark, Sam Justice
Description: This activity displays the create new user page
It receives the User's credentials and passes that information to the server to create a new user-->


<!DOCTYPE html>
<form lang="en">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <head>
        <meta charset="UTF-8">
        <title>New User</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="../css/background3.css" rel="stylesheet" />
        <script src="../home/controller.js"></script>
    </head>
</form>

<body ng-app="myApp">

<div ng-controller="myCtrl1">
    <div class="wrapper">
        <form class="form-signin">
            <img src="../assets/BB.png" class="img-fluid" alt="responsive image" alt="BB" align="bottom"><h2> BetterBae</h2>
            <!-- Retrieves a new user's first and last name, userName and password  -->
            <input type="text" autoGrow class="form-control" ng-model="firstName" placeholder="First Name"><br>
            <input type="text" autoGrow class="form-control" ng-model="lastName" placeholder="Last Name"><br>
            <input type="text" autoGrow class="form-control" ng-model="userName" placeholder="Username"><br>
            <input type="text" autoGrow class="form-control" ng-model="passWord" placeholder="Password"><br>
            <div class="btn-toolbar">
                <!-- This button executes myFunc1 in the "myCtrl1" controller -->
                <button type="button" class="btn-primary btn-lg" ng-click="myFunc1()">Create New User</button>
                <!-- Selecting this button takes the user back to the "index.html" page -->
                <button type="button" class="btn-primary btn-lg" onclick="window.location='../index.html'">Cancel</button>
                <br>
            </div>
        </form>
        <!-- Displaying an error message when there is an invalid input -->
        <h2 ng-model="my_variable">
            {{my_variable1}}

        </h2>
    </div>
</div>

</body>
</html>