<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <link href="../css/background2.css" rel="stylesheet" />
  <script src="../home/controller.js"></script>
  <script src="../home/controller2.js"></script>
</head>
<body ng-app="myApp2">

<header>
    <img src="../assets/BB.png" alt="BB">
    <div class="header-center">
        <ul>
            <h1>BetterBae</h1>
        </ul>
    </div>
    <div ng-controller="myCtrl2" text="text" ng-model="message">
        <h2>Doctor: {{message}}</h2>
    </div>
</header>

    <div ng-controller="myCtrl4" text="text" ng-model="message1">
      <h3>Patient: {{message1}}</h3>
    </div>

    <table ng-controller="myCtrl3" border="1">
          <thead>
          <tr>
            <th>ID number</th>
            <th>Heart beats per minute (bpm)</th>
            <th>Date and time</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="P in records">
          <td>{{P._id}}</td>
        <td>{{P.bpm | number: 0}}</td>
        <td>{{P.date | date : 'MMM d, y hh:mm:ss a':'0'}}</td>
        </tbody>
        </tr>
    </table>
</body>
</html>